<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div *ngFor="let product of products2">
    <!-- Display product information here -->
    <p>{{ product.name }} </p>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <!-- Add more fields as needed -->
  </div>
  
<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="assets/4-1000x400-sarahjulianne.com.jpg" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="assets/4-1000x400-sarahjulianne.com.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="assets/4-1000x400-sarahjulianne.com.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
      
      <a class="prev" (click)="plusSlides(-1)"></a> 
      <a class="next" (click)="plusSlides(+1)"></a>
    </div>
<div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)" #dot1></span> 
    <span class="dot" (click)="currentSlide(2)" #dot2></span> 
    <span class="dot" (click)="currentSlide(3)" #dot3></span> 
</div>
<hr>

<div class="row">
  <div class="col-md-3" *ngFor="let product of products2">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="assets/White-coffee-bag-mockup.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Price: {{ product.price }}</p>
        <!-- Add more fields as needed -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>








<div class="product-row-container">
  <!-- Product items
  <div class="product-item">
      <img src="product1.jpg" style="width:100%">
      <div class="text">Product 1</div>
  </div>
  <div class="product-item">
      <img src="product2.jpg" style="width:100%">
      <div class="text">Product 2</div>
  </div>
  
  < !-- Add more product items as needed -->
</div>


</body>
</html> 
