
html,body {
  font-family: Verdana
   sans-serif;
   top: 0;
   margin:0;
   width: 100%;
   background-color: rgb(40, 40, 40);
   z-index: 0;
  }
  hr {
      color: white
  }
.page-wrapper {
  min-height: 100vh; /* fills viewport */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
}

footer {
  z-index: 1;
  color: white
}


