

  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <!-- paginator from angular material has issues with flex box so switch to grid instead -->
<div class="page-wrapper" >
  <div>
      <app-product-filter 
      [filters]="filters"
      (filtersChange)="filterUpdated($event)"
      ></app-product-filter>
  </div>

 <div >
    <app-products-pagination [allProducts]="allProducts" [filters]="filters"></app-products-pagination>
  </div>


</div>
<footer>
  <footer>© {{ currentYear }} RatKingCaffeine</footer>
</footer>
</body>
</html> 
  