
<div class="card mb-3" style="max-width: 540px;"*ngFor="let product of products2">
    <div class="row g-0"(click)="goToProductDetail(product.id)">
      <div class="col-md-4">
        <img src="assets/White-coffee-bag-mockup.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-body-secondary">{{ product.price }}</small></p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]=" currentPage=== 1 ">
        <a class="page-link"[href]="'/products/' + (currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of getPages()">
        <a class="page-link" (click)="loadProducts(page)" [href]="'/products/' + page">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="calculateNextPage() === null">
        <a class="page-link" [href]="'/products/' + calculateNextPage()">Next</a>

      </li>
    </ul>
  </nav>
  