
<hr>
<div *ngIf="cart.length > 0; else noItems">
    <h2>Your Cart</h2>
    <div class="card"*ngFor="let item of cart">
        <div class="card-header">
            {{ item.product_name }} quantity {{ item.quantity }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.price }}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="btn btn-primary"(click)="deletecartitem(item.id)">remove from cart</a>
        </div>
      </div>
  </div>
  <hr>
  <a routerLink="/cart/checkout" class="btn btn-primary" href="/cart" role="button"style ="margin-left: 1500px">Check out ${{ Calculatetotal() | number:'1.2-2'}}</a>
  <ng-template #noItems>
    <p>Your cart is empty.</p>
  </ng-template>
  