<div class="reviews-Container">
    <hr>
    <div>
        <h1>Customer Reviews</h1>
    </div>
    <div class="rating-Snapshot-Wrapper">
        <div class="group1">
            <h2>All Ratings!</h2>
            <div class="progress-bar-wrapper">
                <div>
                    <h3 style="color: white;">5☆</h3>
                </div>
                <div class="prograss-bar-outer">
                    <div class="prograss-bar-inner" [style.width.%] ="fiveStarPercent">
                    </div>
                </div>
                <div>
                    <h3 style="color: white;">{{fiveStar}}</h3>
                </div>
            </div>
             <div class="progress-bar-wrapper">
                  <div>
                    <h3 style="color: white;"> 4☆</h3>
                </div>
            <div class="prograss-bar-outer">
                <div class="prograss-bar-inner" [style.width.%] ="fourStarPercent">
                </div>
            </div>
            <div>
                <h3 style="color: white;">{{fourStar}}</h3>
            </div>
            </div>
             <div class="progress-bar-wrapper">
                  <div>
                    <h3 style="color: white;">3☆</h3>
                </div>
            <div class="prograss-bar-outer">
                <div class="prograss-bar-inner" [style.width.%] ="threeStarPercent">
                </div>
            </div>
            <div>
                <h3 style="color: white;">{{threeStar}}</h3>
            </div>
            </div>
             <div class="progress-bar-wrapper">
                  <div>
                    <h3 style="color: white;">2☆</h3>
                </div>
            <div class="prograss-bar-outer">
                <div class="prograss-bar-inner" [style.width.%] ="twoStarPercent">
                </div>
            </div>
            <div>
                <h3 style="color: white;">{{twoStar}}</h3>
            </div>
            </div>
             <div class="progress-bar-wrapper">
                  <div>
                    <h3 style="color: white;">1☆</h3>
                </div>
            <div class="prograss-bar-outer">
                <div class="prograss-bar-inner" [style.width.%] ="oneStarPercent">
                </div>
            </div>
                <div>
                    <h3 style="color: white;">{{oneStar}}</h3>
                </div>
            </div>
        </div>
        <div class="group2">
            <h2>average Rating</h2>
            <div class="progress-bar-wrapper">
                <div>
                    <h3 style="color: white;">{{average}}☆</h3>
                </div>
                <div class="prograss-bar-outer">
                    <div class="prograss-bar-inner" [style.width.%] ="averagePercentage">
                    </div>
                </div>
                <div>
                    <h3 style="color: white;">{{totalReviews}}</h3>
                </div>
            </div>
                <button mat-raised-button (click)="openReviewForm()">Write Review</button>
        </div>
    </div>
    <hr> 


</div>
