
  
   <div id = "navigation-container" class="nav-container">
    <div id="logo" class="">
        <a routerLink="/home">
            <img ngSrc="assets/ratking.png" priority height="25" width="25" alt="RatKingLogo">
        </a>
    </div>
    <div id="filler" class="nav-space">

    </div>
        <div id="home" class="home-anchor" class="nav-links">
        <a [routerLink]="homePage" class="nav-item"><p>Home</p></a>
        </div>
        <div class="nav-links">
        <a [routerLink]="productsPage" class="nav-item"><p>Products</p></a>
        </div>
        <div class="nav-links">
        <a [routerLink]="aboutPage" class="nav-item"><p>About</p></a>
    </div>
    <div id="filler" class="nav-space">

    </div>
    <div>
     <!--   <a  href="/cart" role="button" class="nav-item user_features"><fa-icon [icon]="faShoppingCart"> </fa-icon> Cart</a>
        <a  href="/cart" role="button" class="nav-item user_features"><fa-icon [icon]="faUser"></fa-icon> Account</a>-->
    </div>
    </div>
  
