
  
   <div id = "navigation-container" class="nav-container">
        <div id="home" class="home-anchor">
        <a routerLink="/home"><p>Home</p></a>
        </div>
        <div>
        <a routerLink="/products/1"><p>Products</p></a>
        </div>
        <div>
        <a routerLink="/about"><p>About</p></a>
    </div>
    <div id="filler" class="nav-space">

    </div>
    <div>
        <a class="btn btn-primary" href="/cart" role="button" style="margin-right: 4vh; margin-top: 5px; margin-bottom: 5px;">Cart</a>
    </div>
    </div>
  
