.page-wrapper {
    background-color: rgb(40, 40, 40);
    height: 100%;
    width: 100%;
}

.carousel-additives {
    padding-top: 10vh;
    padding-left: 3vw;
    padding-bottom: 5vh;
    background-color: rgb(40, 40, 40);
}
.check {
    background-color: aqua;
    height: 10px;
    width: 10px;
}
